
/Domain/obj/*
/Domain/bin/*
/Infrastructure/obj/*
/Infrastructure/bin/*
/KanBanAPI/obj/*
/KanBanAPI/bin/*

/KanBanAPI/.vs/*


/EventBus/bin/*
/EventBus/obj/*
/IntegrationEventLogEF/obj/*
/IntegrationEventLogEF/bin/*
/MiddleMan/EventBus/obj/*
/MiddleMan/EventBus/bin/*
