
/Domain/obj/*
/Domain/bin/*
/Infrastructure/obj/*
/Infrastructure/bin/*
/KanBanAPI/obj/*
/KanBanAPI/bin/*

/KanBanAPI/.vs/*


/EventBus/bin/*
/EventBus/obj/*

/MiddleMan/EventBus/obj/*
/MiddleMan/EventBus/bin/*
/MiddleMan/IntegrationEventLogEF/obj/*
/MiddleMan/IntegrationEventLogEF/bin/*
/MiddleMan/IntegrationEventLogEF/obj/Debug/net5.0/IntegrationEventLogEF.csproj.FileListAbsolute.txt
